@include pc {
  .scroll-contener {
    background: repeat url("../img/background-image.png");
    text-align: center;
    align-items: center;
    cursor: pointer;
    padding-top: -30px;
    padding-bottom: 50px;
    .icon {
      width: 60px;
    }
  }
}

@include sp {
  .scroll-contener {
    background: repeat-y url("../img/background-image.png");
    text-align: center;
    align-items: center;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 50px;
    .icon {
      width: 60px;
    }
  }
}
