// font-family
$base-fontFamily: "Noto Serif JP", serif;
$kaiso-fontFamily: "kaisou", serif;

// artboard size
$artboard-pc: 1920px;
$artboard-sp: 750px;

// breakpoint
$breakpoint-sp: 768px;
$breakpoint-pc: 1000px;

// color
$green: #84bba0;
$white: #fff;
$gray: #333333;

// font-colors
$base-fontColor: #333333;
