@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");
@include pc {
  .p-about {
    width: 100%;
    height: 800px;

    &__container {
      display: grid;
      grid-template-rows: 400px 200px;
      padding: 100px;
      grid-template-columns: 280px 1000px;

      &__grid1 {
        grid-row: 1/3;
        grid-column: 1/2;
        align-items: center;
        position: relative;
        margin-bottom: 60px;
        .icon {
          position: absolute;
          left: 75px;
          width: 35px;
        }
        .title-box {
          line-height: 100%;
          position: relative;
          padding-top: 40px;
          padding-bottom: 55px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-items: center;

          .title {
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-size: 27px;
            line-height: 35px;
            color: #333333;
            z-index: 1;
            font-family: $kaiso-fontFamily;
            padding-left: 20px;
          }
          .title-child {
            font-size: 15px;
            color: #333333;
            padding-top: 5px;
            padding-right: 5px;
          }
          .title-sub {
            font-weight: 300;
            font-style: normal;
            font-weight: normal;
            font-style: normal;
            text-align: start;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 45%;
            color: $green;
            font-size: 65px;
            opacity: 0.2;
            line-height: 50px;
            font-family: $side-fontFamily;
          }
        }
        .title-bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-top: 20px;
          font-family: $kaiso-fontFamily;
          .matu-img {
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .lang {
            padding-top: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 18px;

            .lang-top {
              font-size: 12px;
              text-align: left;
              padding-right: 80px;
              padding-bottom: 5px;
            }
            .lang-middle {
              font-size: 19px;
              text-align: left;
              padding-right: 80px;
              padding-bottom: 5px;
            }
            .lang-bottom {
              font-size: 20px;
              text-align: center;
              padding-right: 10px;
            }
          }
          .youtube-btn {
            margin-top: 25px;
            color: #333333;
            border: 1px solid #333333;
            font-size: 10px;
            font-weight: bold;
            padding: 15px 43px;
            background-color: #ffffff;
            line-height: 10px;
            letter-spacing: 1px;
            background-color: rgba(255, 255, 255, 0);
            &:hover {
              color: #fff;
              background: $green;
              transition: all 0.5s ease;
            }
          }
        }
      }
      &__grid2 {
        grid-area: 80px;
        grid-row: 1/2;
        grid-column: 2/3;
        display: flex;
        .description {
          width: 50%;
          padding-top: 30px;
          padding-right: 56px;
          font-size: 13px;
          color: #333333;
          line-height: 22px;
        }
        .about-img {
          padding-right: 20px;
          padding-bottom: 20px;
          width: 350px;
          height: 300px;
        }
      }

      &__grid3 {
        grid-row: 2/3;
        grid-column: 2/3;
        display: flex;
        align-items: start;
        margin-right: 100px;
        padding-top: 0px;

        .lang {
          visibility: hidden;
        }
        .youtube-btn {
          visibility: hidden;
        }
      }
    }
  }
}

@include sp {
  .p-about {
    width: 100%;
    height: 200%;
    &__container {
      &__grid1 {
        align-items: center;
        position: relative;
        .icon {
          position: absolute;
          top: 20px;
          left: 75px;
          width: 40px;
        }
        .title-box {
          line-height: 100%;
          position: relative;
          padding-top: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-items: center;
          .title {
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-size: 25px;
            letter-spacing: 6.8px;
            line-height: 30px;
            color: #333333;
            z-index: 1;
          }
          .title-child {
            font-size: 15px;
            color: #333333;
            padding-top: 5px;
            padding-right: 5px;
          }
          .title-sub {
            text-align: start;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            color: $green;
            font-size: 60px;
            opacity: 0.2;
            line-height: 50px;
            font-family: $side-fontFamily;
          }
        }
        .title-bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
          .matu-img {
            position: absolute;
            width: 80px;
            bottom: 70px;
            right: 50px;
          }
          .lang {
            visibility: hidden;
            position: absolute;
            top: -140px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 18px;
            line-height: 10px;

            p {
              padding-bottom: 80px;
              font-size: 10px;
              text-align: left;
              padding-right: 80px;
            }
          }

          .youtube-btn {
            visibility: hidden;
            margin-top: 20px;
            color: #333333;
            border: 1px solid #333333;
            font-size: 10px;
            padding: 13px 45px;
            background-color: #ffffff;
            line-height: 10px;
            letter-spacing: 1px;
            background-color: rgba(255, 255, 255, 0);
            &:hover {
              color: #fff;
              background: $green;
              transition: all 0.5s ease;
            }
          }
        }
      }
      &__grid2 {
        grid-area: 80px;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 51px;
        padding-left: 51px;
        .description {
          width: 100%;
          padding-right: 12px;
          align-items: center;
          font-size: 13px;
          color: #333333;
          line-height: 22px;
        }

        .about-img {
          padding-top: 35px;
          width: 471.25px;
        }
      }

      &__grid3 {
        position: relative;
        flex-direction: column;
        justify-content: center;

        align-items: end;
        padding-left: 51px;
        padding-right: 0px;

        .lang {
          padding-top: 30px;
          display: flex;
          align-items: start;
          text-align: start;
          flex-direction: column;
          font-size: 18px;
          p {
            font-size: 10px;
            text-align: left;
            padding-right: 80px;
          }
        }
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        .youtube-btn {
          align-items: center;
          text-align: center;
          justify-content: center;
          flex-direction: column;
          margin-top: 400px;
          font-weight: bold;
          color: #333333;
          border: 1px solid #333333;
          font-size: 12px;
          width: 100%;
          height: 50px;
          padding: 20px 95px;
          line-height: 10px;
          letter-spacing: 1px;
          background-color: rgba(255, 255, 255, 0);
          &:hover {
            color: #fff;
            background: $green;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}
