@include pc {
  .p-home {
    width: 100%;
    color: #333333;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    .home-img {
      position: relative;
      object-fit: none;
      width: 100%;
      height: 700px;
      align-items: start;
      margin: 0;
    }
    .title {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 45px;
      font-family:
        YuMincho,
        /* Mac用 */ "Yu Mincho",
        /* Windows用 */ serif;
      font-weight: normal;
    }
    .description {
      position: absolute;
      top: 20%;
      left: 50%;
      margin-left: -20px;
      transform: translate(-50%, -50%);
      font-size: 10px;
      font-family: $side-fontFamily;
    }
  }
}
@include sp {
  .p-home {
    width: 100%;
    height: 700px;
    color: #333333;
    align-items: center;
    justify-content: center;
    text-align: center;
    .home-img {
      position: relative;
      align-items: center;
      padding-top: 200px;
      width: 100%;
      height: 53%;
      object-fit: cover;
    }
    .title {
      width: 320px;
      position: absolute;
      top: 25%;
      left: 53%;
      transform: translate(-50%, -50%);
      font-size: 43px;
      font-family:
        YuMincho,
        /* Mac用 */ "Yu Mincho",
        /* Windows用 */ serif;
      font-weight: normal;
    }
    .description {
      position: absolute;
      width: 320px;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 10px;
    }
  }
}
