@include pc {
  .p-reserve {
    width: 100%;
    height: 400px;
    &__container {
      display: grid;
      padding: 84px;
      grid-template-columns: 300px 1000px;

      &__grid1 {
        grid-row: 1/2;
        grid-column: 1/2;
        align-items: center;
        position: relative;
        .title-box {
          line-height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          align-items: center;
          .icon {
            position: absolute;
            top: -100px;
            left: 70px;
            width: 80px;
          }
          .title {
            padding-top: 3px;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-size: 30px;
            letter-spacing: 3px;
            line-height: 40px;
            color: #333333;
            z-index: 1;
          }
          .title-sub {
            text-align: start;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0%;
            color: $green;
            font-size: 60px;
            opacity: 0.2;
            line-height: 25px;
            font-family: $side-fontFamily;
          }
          .work-img {
            width: 50px;
            position: absolute;
            bottom: -100px;
          }
        }
      }
      &__grid2 {
        grid-row: 1/3;
        grid-column: 2/3;
        text-align: left;
        align-items: start;
        .button-box {
          max-width: 1000px;
          display: flex;
          height: 230px;
          margin: 0 auto;
          .line {
            max-width: 920px;
            border: solid 1px #333333;
            margin-right: 20px;
            padding: 35px;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: -3px;
              left: 0px;
              width: 20%;
              height: 3px;
              background: #84c3a0; /*左：ピンク*/
            }
            &::before {
              content: "";
              position: absolute;
              left: -47px;
              top: 44px;
              width: 20%;
              height: 3px;
              background: #84c3a0; /*左：ピンク*/
              transform: rotate(90deg);
            }

            .title {
              align-items: start;
              font-size: 18px;
              letter-spacing: 3px;
              padding-bottom: 20px;
            }
            .detail {
              font-size: 10px;
              padding-bottom: 30px;
            }
            .btn-box {
              text-align: center;
              .add-btn {
                cursor: pointer;
                text-align: center;
                align-items: center;

                padding: 17px 60px;
                background-color: #84c3a0;
                color: #ffffff;
                font-size: 12px;
              }
            }
          }

          .airbnb {
            border: solid 1px #333333;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: -3px;
              left: 0px;
              width: 20%;
              height: 3px;
              background: #f98469; /*左：ピンク*/
            }
            &::before {
              content: "";
              position: absolute;

              left: -47px;
              top: 44px;
              width: 20%;
              height: 3px;
              background: #f98469; /*左：ピンク*/
              transform: rotate(90deg);
            }

            margin-left: 20px;
            padding: 35px;
            .title {
              font-size: 18px;
              letter-spacing: 3px;
              padding-bottom: 20px;
            }
            .detail {
              font-size: 10px;
              padding-bottom: 30px;
            }
            .btn-box {
              text-align: center;
              .move-btn {
                cursor: pointer;
                align-items: center;
                padding: 17px 60px;
                background-color: #ed7c75;
                color: #ffffff;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@include sp {
  .p-reserve {
    width: 100%;
    height: 700px;
    &__container {
      padding: 51px;
      &__grid1 {
        align-items: center;
        position: relative;
        .icon {
          position: absolute;
          top: -100px;
          left: 70px;
          width: 100px;
        }
        .title-box {
          line-height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          align-items: center;
          padding-bottom: 50px;
          .icon {
            position: absolute;
            top: -55px;
            left: 10px;
            width: 70px;
          }

          .title {
            padding-top: 3px;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-size: 20px;
            letter-spacing: 3px;
            line-height: 20px;
            color: #333333;
            z-index: 1;
          }
          .title-sub {
            text-align: start;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 70px;
            color: $green;
            font-size: 60px;
            opacity: 0.2;
            line-height: 25px;
            font-family: $side-fontFamily;
          }

          .work-img {
            position: absolute;
            width: 40px;
            padding-top: 20px;
            display: flex;
            top: 10%;
            left: 230px;
          }
        }
        .title-bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          padding-top: 10px;
          .work-img {
            width: 50px;
            padding-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .run-img {
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .lang {
            padding-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 18px;
            p {
              font-size: 10px;
              text-align: left;
              padding-right: 80px;
            }
          }
        }
      }
      &__grid2 {
        .button-box {
          display: flex;
          flex-direction: column;
          height: 230px;
          margin: 0 auto;
          .line {
            border: solid 1px #333333;
            margin-bottom: 20px;
            padding: 35px;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: -2px;
              left: 0px;
              width: 20%;
              height: 3px;
              background: #84c3a0;
            }
            &::before {
              content: "";
              position: absolute;

              left: -30px;
              top: 26px;
              width: 20%;
              height: 3px;
              background: #84c3a0;
              transform: rotate(90deg);
            }
            .title {
              align-items: start;
              font-size: 15px;
              letter-spacing: 3px;
              padding-bottom: 20px;
            }
            .detail {
              font-size: 10px;
              padding-bottom: 30px;
            }
            .btn-box {
              text-align: center;
              .add-btn {
                cursor: pointer;
                text-align: center;
                align-items: center;
                padding: 17px 55px;
                background-color: #84c3a0;
                color: #ffffff;
                font-size: 12px;
              }
            }
          }
          .airbnb {
            border: solid 1px #333333;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: -2px;
              left: 0px;
              width: 20%;
              height: 3px;
              background: #f98469; /*左：ピンク*/
            }
            &::before {
              content: "";
              position: absolute;
              left: -30px;
              top: 26px;
              width: 20%;
              height: 3px;
              background: #f98469; /*左：ピンク*/
              transform: rotate(90deg);
            }

            padding: 35px;
            .title {
              font-size: 16px;
              letter-spacing: 3px;
              padding-bottom: 20px;
            }
            .detail {
              font-size: 10px;
              padding-bottom: 30px;
            }
            .btn-box {
              text-align: center;
              .move-btn {
                cursor: pointer;
                align-items: center;
                width: 100%;
                padding: 17px 55px;
                background-color: #ed7c75;
                color: #ffffff;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
